@font-face {
  font-family: DancingScript;
  src: url("assets/fonts/Dancing_Script/DancingScript-VariableFont_wght.ttf");
}
@font-face {
  font-family: Sacramento;
  src: url("assets/fonts/Sacramento/Sacramento-Regular.ttf");
}